$colorMap: (
  background: #ffffff,
  dark: #121212,
  main: #f46f17,
  gray: #363636,
  light: #888888,
  box: #f7f7f7,
  red: #fb6061,
  green: #65cc3d,
  blue: #2f80ed,
  white: #ffffff,
  divider: #e6e6e6,
);

@function color($key) {
  @return map-get($colorMap, $key);
}
